# Looping/Perulangan

Python menyediakan dua statement untuk melakukan proses peruangan yaitu for dan while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while.

# For Loop

Perulangan `for` digunakan untuk melakukan iterasi di dalam `sequence` seperti `list`, `tuple`, `string`, dan array atau objek yang dapat diiterasi lainnya.

**For Loop Syntax**

**Example: Python for Loop**

In [1]:
# Program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2, 4, 5, 7, 9]
jumlah = 0

# iterasi di dalam list
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

**The range() function**

In [2]:
# Program untuk melakukan iterasi di dalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

# iterasi di dalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

**for loop with else**

In [3]:
# Contoh for Loop menggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

# Latihan 1

Diberikan `list_tagihan`. Kamu diminta untuk menghitung jumlah seluruh tagihan! Gunakan looping `for` untuk menyelesaikan tugas ini! Simpan hasilnya pada variabel total_tagihan!

In [4]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]

In [5]:
# tuliskan code kalian
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

# iterasi di dalam list
for i in list_tagihan:
  total_tagihan = total_tagihan + i

print(total_tagihan)

550000

# While Loop

While loop pada Python digunakan untuk melakukan iterasi pada blok kode sesama nilai dari `test_expression` adalah true.

**Syntax of while Loop in Python**

**Example: Python while Loop**

In [6]:
# Program untuk menjumlahkan semua
# bilangan asli hingga suku ke-n
# jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 0

while i <= n:
  jumlah = jumlah + i
  i = i + 1

print(jumlah)

55

#**While loop with else**

Sama dengan `for` loop kita juga dapat mengkombinasikan `while` loop dengan blok `else`.

Bagian `else` akan dieksekusi jika nilai pada `test expression` pada `while loop` bernilai False. Perhatikan contoh berikut:

In [7]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) #dieksekusi di luar looping

55

# Latihan 2

Diberikan list tagihan, hitunglah total_tagihan menggunakan while loop

In [8]:
tagihan = [50000, 75000, 125000, 300000, 200000]

In [9]:
# Tuliskan kodemu
tagihan = [50000, 75000, 125000, 300000, 200000]
total_tagihan = 0
i = 0

while i < len(tagihan):
    total_tagihan += tagihan[i]
    i += 1

print(total_tagihan)

750000

# **Percabangan/Struktur Pemilihan**

Pada bagian ini, kamu akan membuat keputusan pada bahasa pemrograman Python menggunakan struktur percabangan atau juga sering disebut IF ELSE Statement. Pengambiankeputusan dibutuhkan ketika kamu akan mengeksekusi suatu kode jika sebuah kondisi tertentu dipenuhi.

Statement if .. elif .. else digunakan pada bahasa Python untuk pengambilan keputusan.

# IF Statements

**Python IF Statement Syntax**

**Example: Python IF Statement**

In [10]:
# Jika angka adalah bilangan positif maka print "adalah biangan positif"

angka = 3
if angka > 0:
    print(angka, "adalah bilangan positif.")
print("Pernyataan ini selalu ditampilkan.")

angka = -1
if angka > 0:
    print(angka, "adalah bilangan positif.")
print("Pernyataan ini juga selalu ditampilkan.")

3 adalah bilangan positif.
Pernyataan ini selalu ditampilkan.
Pernyataan ini juga selalu ditampilkan.

# IF ELSE Statements

**Python IF ELSE Statement Syntax**

**Example: Python IF ELSE Statement**

In [11]:
# Program disusun untuk mngecek apakah angka tersebut kurang dari 0 atau tidak
# dan menampilkan tulisan yang sesuai

angka = 3

if angka >= 0:
    print("Bilangan lebih dari atau samadengan 0")
else:
    print("Bilangan kurang dari 0")

Bilangan lebih dari atau samadengan 0

In [12]:
# Program disusun untuk mengecek apakah dua buah angka sama atau tidak
# dan menmpilkan tulisan yang sesuai

a = 5
b = 5

if a==b:
    print("a dan b bernilai sama")
else:
    print("a dan b bernilai berbeda")
    print("Belajar If Else")

a dan b bernilai sama

In [13]:
# Program disusun untuk mengecek apakah perbandingan dua buah angka
# dan menampilkan tulisan yang sesuai

# Membaca dua angka
bil1 = int(input("Masukkan bilangan pertama: "))
bil2 = int(input("Masukkan bilangan kedua: "))

# memilih bilangan yang lebih besar
if bil1 > bil2:
    bil_lebih_besar = bil1
else:
    bil_lebih_besar = bil2

# menampilkan hasil
print("Bilangan yang lebih besar adalah:", bil_lebih_besar)

Masukkan bilangan pertama: 5
Masukkan bilangan kedua: 15
Bilangan yang lebih besar adalah: 15

# IF ELIF ELSE Statement

**Python IF ELIF ELSE Statement**

**Example: Python IF ELIF ELSE Statement**

In [14]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif atau nol
# dan menampilkan tulisan yang sesuai

angka = 3.4

if angka > 0:
    print("Bilangan Positif")
elif num == 0:
    print("Nol")
else:
    print("Bilangan Negatif")

Bilangan Positif

# Python Nested IF Statements

**Example: Python NESTED IF Statement**

In [15]:
# Program disusun untuk mengecek apakah angka merupakan bilangan positif, negatif, atau nol
# dan menampilkan tulisan yang sesuai

angka = float(input("Masukkan angka:"))
if angka >= 0:
    if angka == 0:
        print("Nol")
    else:
        print("Bilangan Positif")
else:
    print("Bilangan Negatif")

Masukkan angka:4
Bilangan Positif

# Latihan

Buatlah sebuah fungsi 'Mahal_Diskon' dengan ketentuan:


*   Input berupa data harga produk dengan tipe data numerik Tunggal
*   Kategori Input adalah 'Murah' dan 'Mahal', kemudian diskon ada 3 kategori '10%', '20%', dan '40%'
*  Output Pertama sebuah teks/string yang menyatakan 'Mahal' atau 'Murah' dan Keterangan 'Kamu Dapat Diskon...'
*  Output Kedua adalah harga yang perlu dibayarkan

In [16]:
# Ketikkan Codingan anda
def Mahal_Diskon(harga):
    if harga <= 100000:
        kategori = 'Murah'
        diskon = '10%'
        harga_diskon = harga - (harga * 0.1)
    elif harga <= 500000:
        kategori = 'Murah'
        diskon = '20%'
        harga_diskon = harga - (harga * 0.2)
    else:
        kategori = 'Mahal'
        diskon = '40%'
        harga_diskon = harga - (harga * 0.4)

    output_text = f"{kategori}, Kamu Dapat Diskon {diskon}"
    return output_text, harga_diskon

harga_produk = 350000
hasil, harga_setelah_diskon = Mahal_Diskon(harga_produk)
print(hasil)
print("Harga yang perlu dibayarkan:", harga_setelah_diskon)

Murah, Kamu Dapat Diskon 20%
Harga yang perlu dibayarkan: 280000.0